
    .thank-you{
      font-size: 16px;
      padding: 20px;	
    }
    #name-form{
      padding: 10px;
    }
    #name-form input,  #name-form select{
      width: 300px;
    }
    label{
      display: block;
    }
    .form-control{
      width: auto;
    }
    .help-block{
      margin-left:10px;
    }
    .progress{
      width: 300px;
      height:10px;
      border-radius:0px;
      margin-top: 2px;
    }
    #btn-submit{
        width: 300px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }
      
      th, td{
        text-align: left;
        padding: 8px;
      }
      tbody {
        text-align: left;
        padding: 8px;
        flex-direction: column;
      }
      
