img {
    max-width: 100px;
    max-height: 100px;
}

.rewardsinfo {
    background-color: #ecf5ff;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;

}
h2 {
    color: #56a5eb;
}
.add-reward {
    scale: 0.1;
}
.testbtn {

    font-size: 10px;
    padding: 1rem 0;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin: auto;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
    line-height: 1rem;
    display: inline-block;

    width: 100px;
    height: 30px;

  }
  
  .testbtn:hover {
    cursor: pointer;
    text-decoration: none;
    color: #56a5eb;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    
  }
  
  .testbtn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  

